body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    background-color: #0e0d14;
}

#root {
    --main-red: #ff0000;
    --dark-red: #600006;
    --light-red: #ff1d39;
    --main-green: #00b900;
    --dark-green: #18220a;
    --light-green: #cff42b;
    --main-black: #0e0d14;
    --main-grey: #1e232d;
    --light-grey: #2e333d;
    --dark-white: #c1c1c1;
    --main-white: #e7e7e7;
}

@font-face {
    font-family: 'Neueplak';
    src: local('Neueplak'),
        url('assets/fonts/neue_plak/Neue Plak Black.ttf') format('truetype');
    src: url('assets/fonts/neue_plak/Neue Plak Regular.ttf') format('truetype'),
        url('assets/fonts/neue_plak/Neue Plak Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
